.grid,
.grid-col-6 {
  /* for simplicity, just 6 columns for full width */
  width: calc(100vw - 20px);
  margin: 10px;
}
.grid-col-5,
.grid-col-4,
.grid-col-3,
.grid-col-2,
.grid-col-1 {
  margin: 10px;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.grid-col-5 {
  width: calc(83% - 20px);
}

.grid-col-4 {
  width: calc(65% - 20px);
}

.grid-col-3 {
  width: calc(50% - 30px);
}

.grid-col-2 {
  width: calc(33% - 20px);
}

.grid-col-1 {
  width: calc(17% - 10px)
}

.App p {
  text-align: left;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
