option.green-select,
option.red-select,
option.orange-select,
option.blue-select {
    height: 10px;
    margin: 5px;
    display: inline-block;
}

.color-selection-dropbox {
    vertical-align: top;
}