p.goal {
    margin: 0;
}

p.green-selection {
    color: darkgreen;
}
p.red-selection {
    color: darkred;
}
p.orange-selection {
    color: orangered;
}
p.blue-selection {
    color: midnightblue;
}
p.unselected-selection {
    color: black;
}